<div class="text-center text-white">
  <h2 class="jumbotron bg-primary">Emplyee Register</h2>
</div>
<div class="row">
  <div class="col-md-7">
    <app-employee></app-employee>
  </div>
  <div class="col-md-5">
    <app-employee-list></app-employee-list>
  </div>
</div>