<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <input type="hidden" name="$key" #key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Full Name" required>
  </div>
  <div class="form-group">
      <label>Position</label>
      <input class="form-control" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Position" required>
    </div>
    <div class="form-group">
        <label>Office</label>
        <input class="form-control" name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Office" required>
      </div>
      <div class="form-group">
          <label>Salary</label>
          <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-dollar"></i>
              </div>
              <input class="form-control" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary">
          </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">Save</button>
        <button class="btn btn-warning pull-right" type="button" (click)="resetForm(employeeForm)">Reset</button>
      </div>
</form>